
.navbar {
  text-align: left;
}

.border {
  border: 1px solid black;
}

.mat-tab-group:first-child {
  width: 100% !important;
}

.box{
  margin-top: 20px;
  width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
}



.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

