<div *ngIf="pazienti?.length > 0" >
<mat-card *ngFor=" let item of pazienti" class="card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>{{item.nome}}</mat-card-title>
    <mat-card-subtitle>{{item.sesso}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{baseRoot}}/assets/img/{{item.sesso}}.png " alt="img">

  <mat-card-content>
    <p><strong>Nota </strong></p>
    <p>
      {{item.nota}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openDialog(item)">DETAIL</button>

  </mat-card-actions>
</mat-card>
</div>
